<compFormattedName is="compFormattedName" class="compFormattedName" id="{{ section.id }}">
    <h1 class="compFormattedName-title">{{ section.settings.title }}</h1>
    <img class="compFormattedName-image" src="{{ section.settings.image | img_url: '400x' }}">
</compFormattedName>